@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.download-pdf {
    display: flex;
    justify-content: flex-start;
    max-width: 770px;
    margin: 40px auto 0 auto;
}

/* BUTTON DOWNLOAD */
.btn-slide2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #b91c1c;
    margin: 10px;
    transition: .5s;
}

.btn-slide2:hover {
    background-color: #b91c1c;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #b91c1c;
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide2 span.circle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b91c1c;
    color: #fff;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 3px;
    left: 5px;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
    position: absolute;
    left: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #b91c1c;
    transition: .5s;
}

.btn-slide2 span.title-hover2 {
    color: #fff;
    opacity: 0;
}
/* END BUTTON DOWNLOAD */

.container.bordereau {
    max-width: 770px;
    position: relative;
    margin: 0 auto;
    page-break-after: always; /* Forcer une nouvelle page après chaque bordereau */
    z-index: 1;
}
.container.bordereau::before {
    content: "";
    background-image: url('../images/logo-HD.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px; /* Ajustez la taille selon vos besoins */
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    opacity: 0.05; /* Ajustez l'opacité selon vos préférences */
    z-index: -1;
    pointer-events: none; /* Pour éviter toute interaction avec le pseudo-élément */
}


header, main, footer {
    page-break-inside: avoid; /* Eviter les coupures de section */
}

header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

/* SECTION CODE BARRE */
.header-barcode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-title h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px 5px;
}

.barcode-section {
    text-align: center;
    position: relative;
}

.barcode-section .date {
    font-size: 9px;
    color: #2a2a2a;
    position: absolute;
    top: -15px;
    left: 0px;
}

.barcode-section .id_barcode {
    font-size: 11px;
    color: #1d1d1d;
    position: absolute;
    font-weight: 100;
    top: 43px;
    left: 47px;
}

.barcode-section img {
    width: 170px;
    height: 40px;
}

/* SECTION HEADER */
.header-info {
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 10px;
    border: 2px solid rgb(109, 109, 109);
}

.header-info-p {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}

.header-address h2 {
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 5px;
}

.header-address p {
    font-size: 20px;
    margin: 0px 5px;
    font-weight: bold;
}

.note {
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin-top: 5px;
    font-weight: bold;
    padding-bottom: 3px;
}

/* SECTION INFORMATIONS USERS */
.separation-benificiary {
    border-top: .5px solid rgb(70, 70, 70);
    width: 100%;
    margin-top: 20px;
}

.beneficiary-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 12px;
}

.column {
    width: 44%;
    position: relative;
}

.column h3 {
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: bold;
}

.info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 10px;
}

.info-grid p {
    display: contents;
    margin-bottom: 3px;
    white-space: nowrap;
}

.card-info {
    position: absolute;
    top: 127px;
    left: 0;
    width: 100%;
    background-color: white;
}

.card-info p {
    margin-top: 3px;
    display: flex;
}

.card-info span {
    padding-left: 12px;
    text-align: left;
}

/* SECTION TABLES */
table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

th {
    font-weight: bold;
    background-color: #f9f9f9;
    border-bottom: 2px solid #333;
    font-size: 14px;
}

.th-desc {
    font-size: 11px;
    opacity: .9
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th:nth-child(4),
td:nth-child(4) {
    text-align: center;
}

/* SECTION FOOTER */
footer {
    margin-top: 20px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    margin-top: 30px;
    width: 70%;
    margin-bottom: 20px;
}

.accept-conditions {
    font-size: 10px;
}

.footer-content p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 10px;
}

.certificate {
    width: 88%;
    margin-top: 10px;
    font-weight: normal;
}

.footer-content a {
    color: #000;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.signature-section {
    margin-top: 70px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signature-section .signature-line {
    border-top: 1px solid black;
    width: 280px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.signature-section p {
    text-align: right;
    font-size: 12px;
    margin-top: 5px;
}

/* Image metalcash */
.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; /* Ajuste la taille pour qu’elle soit plus petite */
    opacity: 0.01; /* Opacité réduite pour fond discret */
    z-index: -1; /* Place l’image en arrière-plan */
    pointer-events: none; /* Empêche toute interaction avec l’image */
}

.background-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container.bordereau .background-image {
    background-image: url('./images/logo-HD.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 20%; /* Ajuste la taille de l’image répétée */
    opacity: 0.01; /* Réduit l’opacité pour fond discret */
    z-index: -1; /* Place l’image en arrière-plan */
}


/* Zone de découpe */
.content-cut-out {
    position: relative;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-top: 2px dashed #333; /* Ligne en haut pour indiquer la découpe */
    margin-top: 20px;
    color: #333;
}

.scissors-icon {
    position: absolute;
    top: -9px;
    left: 0;
    font-size: 16px;
    color: #333;
}

.content-cut-out::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-image: url('../images/logo-HD.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    width: 140px;
    height: 140px;
    z-index: 1;
}

.content-cut-out p {
    padding-top: 5px;
    padding-left: 40px;
}

.informations-cut {
    display: inline-block;
    position: relative;
    right: 80px;
    text-align: center;
    margin-top: 30px;
    padding-left: 30px;
}

.informations-cut img {
    width: 250px;
    height: 60px;
    margin-bottom: 3px;
}

.cut-uniqueId {
    display: block;
    font-size: 12px;
    color: #333;
    margin-top: 0px;
}

.cut-packageId {
    width: 300px;
    position: absolute;
    left: 250px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #333;
}

/* END Zone de découpe */

@media print {
    .download-pdf {
        display: none;
    }


    /* @page {
        margin: 25px 50px;
    } */

    footer {
        align-items: flex-start;
        position: fixed;
        bottom: 150px;
    }


    .content-cut-out {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        border-top: 1px dashed #333;
        text-align: center;
        font-size: 12px;
        margin-top: 0px;
    }

    .scissors-icon {
      left: -17px;
    }

    .informations-cut {
        margin-top: 20px;
        padding-left: 60px;
    }
}
