@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

#content {
    background: #fff;
    width: 900px;
    margin: 0 auto;
}

.download-pdf {
    display: flex;
    justify-content: flex-start;
    max-width: 850px;
    margin: 40px auto 0 auto;
}

/* BUTTON DOWNLOAD */
.btn-slide2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #b91c1c;
    margin: 10px;
    transition: .5s;
}

.btn-slide2:hover {
    background-color: #b91c1c;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #b91c1c;
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide2 span.circle2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b91c1c;
    color: #fff;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 3px;
    left: 5px;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
    position: absolute;
    left: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #b91c1c;
    transition: .5s;
}

.btn-slide2 span.title-hover2 {
    color: #fff;
    opacity: 0;
}
/* END BUTTON DOWNLOAD */

.pdf-container {
    border: 1px solid black;
    width: 850px;
    height: 1085px;
    margin: 0 auto 130px auto;
}

.container.bordereau {
    max-width: 770px;
    position: relative;
    margin: 0 auto;
    page-break-after: always; 
    z-index: 1;
}
.container.bordereau::before {
    content: "";
    background-image: url('../images/logo-HD.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: -1;
    pointer-events: none; 
}


header, main, footer {
    page-break-inside: avoid;
}

header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}

.package-ref {
    margin-left: 8px;
}

/* SECTION CODE BARRE */
.header-barcode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header-title h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px 5px;
}

.barcode-section {
    text-align: center;
    position: relative;
    margin-right: 20px;
}

.barcode-section .date {
    font-size: 9px;
    color: #2a2a2a;
    position: absolute;
    top: -15px;
    left: 0px;
}

.barcode-section .id_barcode {
    font-size: 11px;
    color: #1d1d1d;
    position: absolute;
    font-weight: 100;
    top: 43px;
    left: 47px;
}

.barcode-section img {
    width: 170px;
    height: 40px;
}

/* SECTION HEADER */
.header-info {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #1d1d1d;
    padding: 10px;
    border: 5px solid #1d1d1d;
    border-radius: 20px;
    margin: 0 10px;
}

.header-info-p {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
}

.header-address h2 {
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 5px;
}

.header-address p {
    font-size: 20px;
    margin: 0px 5px;
    font-weight: bold;
}

.note {
    font-size: 12px;
    color: rgb(40, 40, 40);
    margin-top: 5px;
    font-weight: bold;
    padding-bottom: 3px;
}

/* SECTION INFORMATIONS USERS */
.separation-benificiary {
    border-top: .5px solid rgb(70, 70, 70);
    width: 100%;
    margin-top: 20px;
}

.beneficiary-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 12px;
    border-top: 1px solid rgb(46, 46, 46);
}

.column {
    width: 44%;
    position: relative;
}

.column h3 {
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
    font-weight: bold;
}

.info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px 10px;
}

.info-grid p {
    display: contents;
    margin-bottom: 3px;
    white-space: nowrap;
}

.card-info {
    position: absolute;
    top: 127px;
    left: 0;
    width: 100%;
}

.card-info p {
    margin-top: 3px;
    display: flex;
}

.card-info span {
    padding-left: 31px;
    text-align: left;
}
.card-info .expiry-date-ci {
    padding-left: 19px;
}
/* SECTION TABLES */
table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

th {
    font-weight: bold;
    background-color: #f9f9f9;
    border-bottom: 2px solid #333;
    font-size: 14px;
}

.th-desc {
    font-size: 11px;
    opacity: .9
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th:nth-child(4),
td:nth-child(4) {
    text-align: center;
}

/* SECTION FOOTER */
footer {
    margin-top: 20px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    margin-top: 50px;
    width: 55%;
    margin-bottom: 50px;
}

.accept-conditions {
    font-size: 10px;
}

.footer-content p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 10px;
}

.certificate {
    width: 88%;
    margin-top: 10px;
    font-weight: normal;
}

.footer-content a {
    color: #000;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.signature-section {
    margin-top: 45px;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signature-section .signature-line {
    border-top: 1px solid black;
    width: 280px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.signature-section p {
    text-align: left;
    font-size: 12px;
    margin-top: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

/* Image metalcash */
.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%; 
    opacity: 0.01; 
    z-index: -1; 
    pointer-events: none;
}

.background-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* Zone de découpe */
.content-cut-out {
    position: relative;
    text-align: center;
    padding: 0px;
    font-weight: bold;
    border-top: 2px dashed #333;
    margin-top: 20px;
    color: #333;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.scissors-icon {
    position: absolute;
    top: -9px;
    left: 0;
    font-size: 16px;
    color: #333;
}
.scissors-icon2 {
    position: absolute;
    bottom: 93px;
    left: 0;
    font-size: 16px;
    color: #333;
}


.content-cut-out p {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px dashed #333;
}

.informations-cut {
    display: inline-block;
    position: relative;
    text-align: center;
    right: 110px;
    top: 30px;
}

.informations-cut img {
    width: 250px;
    height: 60px;
    margin-bottom: 3px;
}

.cut-uniqueId {
    display: block;
    font-size: 12px;
    color: #333;
    margin-top: 0px;
}

.cut-packageId {
    width: 245px;
    position: absolute;
    left: 280px;
    top: 30%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #333;
}

.cut-name {
    position: relative;
    left: 107%;
    bottom: 20px;
    text-transform: uppercase;
}
/* END Zone de découpe */


.footer-btn-back {
    text-align: center;
    margin-bottom: 50px;
}

.formbold-btn {
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 14px 20px;
    border: none;
    font-weight: 500;
    background-color: #005691;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    transition: background-position 0.6s ease, transform 0.6s ease;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #005691 50%, #0c7bc6 50%);
    background-position: right bottom;
  }
  
  .formbold-btn:hover {
    background-position: left bottom;
  }


@media print {
    .download-pdf {
        display: none;
    }

    .pdf-container {
        border: 0;
        margin: 30px 0 0 0;
    }


    @page {
        margin: 0;
    }

    .content-cut-out {
       margin-bottom: 20px;
    }   
}
