@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.formbold-mb-3 {
  margin-bottom: 15px;
}

.formbold-relative {
  position: relative;
}

.formbold-opacity-0 {
  opacity: 0;
}

.formbold-stroke-current {
  stroke: currentColor;
}

#supportCheckbox:checked ~ div span {
  opacity: 1;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 60px auto;
  max-width: 570px;
  width: 100%;
  background: white;
  padding: 40px;
  border: 1px solid #005691;
}

.formbold-form-title {
  margin-bottom: 0px;
}

.formbold-form-title h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #07074d;
}

.formbold-form-title p {
  font-size: 16px;
  line-height: 24px;
  color: #536387;
  margin-top: 12px;
}

.formbold-address {
  font-size: 16px;
  line-height: 1.5;
  color: #07074d;
  border: 1px solid #07074d;
  border-radius: 5px;
  padding: 15px;
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.formbold-address p {
  margin: 0;
}

.header-section {
  color: #536387;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.formbold-input-flex > div {
  width: 50%;
}

.formbold-input-flex-triple {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.formbold-input-flex-triple > div {
  width: 33.33%;
}

.formbold-form-input {
  text-align: center;
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 14px;
  color: #536387;
  outline: none;
  resize: none;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.formbold-form-input:focus {
  border-color: #005691;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.formbold-form-input.has-value {
  background-color: #e0f0ff; 
  text-align: left; 
  box-shadow: 0px 4px 15px rgba(0, 90, 255, 0.15);
}
.formbold-form-input.has-value {
  animation: slide-text 0.5s forwards;
}
.formbold-form-input::before {
  content: attr(value); 
  position: absolute;
  left: 10%;
  transform: translateX(-10%); 
  transition: transform 0.5s ease;
  pointer-events: none; 
  color: #536387; 
}
.formbold-form-input.has-value::before {
  transform: translateX(0);
}
.formbold-form-input::placeholder {
  color: #b0b0b0; 
}

.formbold-form-label {
  color: #536387;
  font-size: 13px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.formbold-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 13px; 
  color: #536387;
  cursor: pointer;
}

.formbold-checkbox-label a {
  color: #0175c2;
  font-size: 13px; 
  margin-left: 5px;
  text-decoration: none;
}

.formbold-checkbox-label a:hover {
  margin-left: 5px;
  color: #005b98;
  text-decoration: underline;
}

.formbold-input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.formbold-checkbox-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px; 
  height: 18px;
  margin-right: 10px;
  border: 0.7px solid #dde3ec;
  border-radius: 3px;
}
.btn-submit-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  margin-top: 20px;
}

.formbold-btn {
  font-size: 15px;
  border-radius: 5px;
  padding: 14px 20px;
  border: none;
  font-weight: 500;
  background-color: #005691;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  transition: background-position 0.6s ease, transform 0.6s ease;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #005691 50%, #0c7bc6 50%);
  background-position: right bottom;
}

.formbold-btn:hover {
  background-position: left bottom;
}

.readonly-input {
  background-color: #e9ecef; 
  color: #6c757d; 
  cursor: not-allowed; 
  border: 1px solid #ced4da; 
  box-shadow: none;
  transition: none !important;
  animation: none !important;
}

.readonly-input:hover, 
.readonly-input:focus, 
.readonly-input:active {
  background-color: #e9ecef !important; 
  color: #6c757d !important; 
  border: 1px solid #ced4da !important; 
  box-shadow: none !important; 
  outline: none !important;
}

/* format des inputs encodage */
.input-wrapper {
  position: relative;
  width: 100%;
}

.masked-input {
  text-align: left;
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #536387;
  outline: none;
  position: relative;
  z-index: 2;
  letter-spacing: 6px; 
}

.mask {
  position: absolute;
  top: 15px;
  left: 25px;
  font-weight: 500;
  font-size: 14px;
  color: #b0b0b0;
  pointer-events: none;
  z-index: 1;
  letter-spacing: 6px; 
  white-space: nowrap;
}

.masked-input::placeholder {
  color: transparent;
}

.masked-input.filled + .mask {
  color: transparent;
}

.masked-input:focus {
  border-color: #005691;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.formated-expiryDate {
 letter-spacing: 0px;
}


/* PLACES API */
.pac-container {
  z-index: 1000 !important;
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(0, 90, 255, 0.15); 
  font-family: 'Inter', sans-serif; 
  background-color: #ffffff; 
  border: 1px solid #005691;
  transition: none !important; 
  animation: none !important; 
}

.pac-item {
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #536387; 
  animation: none !important;
  transition: none !important;
}

.pac-item:hover {
  background-color: #e0f0ff; 
}

.pac-item-query {
  font-weight: bold;
  color: #005691;
  font-size: 12px;
}

.no-animation {
  transition: none !important; /* Désactive la transition */
  animation: none !important;  /* Désactive l'animation */
}


/* ERRORS MESSAGES */
.error-message {
  color: #dc2626;
  font-size: 12px;
  margin-top: 10px;
  opacity: 0; 
  transform: translateY(-10px); 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.error-message.show {
  opacity: 1; 
  transform: translateY(0); 
}

.form-error-message {
  color: #dc2626;
  font-size: 13px;
  margin-top: 10px;
  opacity: 0; 
  transform: translateY(-10px); 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.form-error-message.show {
  opacity: 1; 
  transform: translateY(0); 
}

#ibanError {
  position: absolute;
  width: 270px;
}

/* API ADDRESS FINDING */
.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  max-width: 300px;
  position: absolute; 
  z-index: 1000;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #eee;
}




/* Media query for mobile screens */
@media (max-width: 480px) {
  .formbold-input-flex,
  .formbold-input-flex-triple {
    flex-direction: column;
  }

  .formbold-input-flex > div,
  .formbold-input-flex-triple > div {
    width: 100%;
  }

  .formbold-form-label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }

  .formbold-form-input {
    width: 100%;
    margin-bottom: 20px;
  }

  .formbold-form-wrapper {
    padding: 20px;
  }

  .formbold-main-wrapper {
    padding: 20px;
  }

  .formbold-form-title h2 {
    font-size: 20px;
    text-align: center;
  }

  .formbold-form-title p {
    font-size: 13px;
    text-align: center;
  }

  .formbold-checkbox-label {
    font-size: 12px; 
  }

  .formbold-checkbox-inner {
    width: 16px; 
    height: 16px;
  }

  .formbold-checkbox-label a {
    font-size: 12px; 
  }

  #ibanError {
    position: absolute;
    width: 300px;
    margin-top: 0;
  }
}


/* Animations */
@keyframes slide-text {
  0% {
    transform: translateX(50%); 
  }
  100% {
    transform: translateX(0); 
  }
}